In [1]:
# loops

In [2]:
# print a natural number from 1 to 10 using while loop

In [3]:
i = 1
while i <= 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [4]:
i = 1
while i <= 10:
    print(i)
    i = i + 2

1
3
5
7
9

In [5]:
i = 1
while i <=5:
    print("AI Ki Paathshala")
    i = i + 1

AI Ki Paathshala
AI Ki Paathshala
AI Ki Paathshala
AI Ki Paathshala
AI Ki Paathshala

In [6]:
s = 'anup'
i = 0
while i < len(s):
    print(s[i])
    i = i + 1

a
n
u
p

In [7]:
#pass

In [8]:
a = int(input("please enter a number: "))

if a > 100:
    pass
    
else:
    print("Yes")

please enter a number: 589

In [9]:
notes = 10
i = 1
while i <= notes:
    print(i)
    i =  i + 1
    
print("Total money: ", notes * 10, 'Rupees')

1
2
3
4
5
6
7
8
9
10
Total money:  100 Rupees

In [10]:
#while - else

In [11]:
notes = 10
i = 15
while i <= notes:
    print(i)
    i =  i + 1
    
else:
    print("No 10 rupees note is left")
    
print("Total money: ", notes * 10, 'Rupees')

No 10 rupees note is left
Total money:  100 Rupees

In [12]:
# for loop in python

In [13]:
list1 = [2, 6, 10, 15, 20, 50]

In [14]:
for i in list1:
    print(i)

2
6
10
15
20
50

In [15]:
list2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [16]:
#print the even number from this list using for loop

In [17]:
for i in list2:
    if i % 2 == 0:
        print(i)
        
    else:
        print('odd number')

odd number
2
odd number
4
odd number
6
odd number
8
odd number
10
odd number
12
odd number
14
odd number

In [18]:
for leeter in "AI KI PaathShala":
    print(leeter)

A
I

K
I

P
a
a
t
h
S
h
a
l
a

In [19]:
list3 = [1,2,3,4,5,6]
#sum all the values inside this list using for loop

In [20]:
list_sum = 0

for i in list3:
    list_sum = list_sum + i
    
print(list_sum)

21

In [21]:
list3 = [1,2,3,4,5,6]
list_sum = 0
for n in list3:
    list_sum = list_sum + n

print(list_sum)

21

In [22]:
list3 = [1,2,3,4,5,6]
list_sum = 0
for i in list3:
    list_sum = list_sum + i

print(list_sum)

21

In [23]:
notes = 10
i =1
while i <= notes:
    print(i)
    i =i+1
print ("total money:",notes*10,'rupee')

1
2
3
4
5
6
7
8
9
10
total money: 100 rupee

In [24]:
for i in list2:
    if i % 2 ==0:
        print(i)
    else:
        print('odd number')

odd number
2
odd number
4
odd number
6
odd number
8
odd number
10
odd number
12
odd number
14
odd number